.modalOverlay {
    position: fixed;
    background-color: rgba(29,32,34,.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modalWindow {
    width: 55%;
    box-sizing: border-box;
}
.modalHeader {
    height: 55px;
    background-color: dodgerblue;
    border-radius: 6px 6px 0 0;
    padding-left: 25px;
    line-height: 55px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: white;
}
.modalBody {
    background-color: #fff;
    padding: 20px 25px;
    box-sizing: border-box;
    text-align: center;
}
.modalBody p {
    margin-top: 0;
    font-size: 18px;
}
.modalFooter {
    background-color: dodgerblue;
    height: 45px;
    border-radius: 0 0 6px 6px;
    line-height: 45px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    color: white;
}
.closeBtn {
    font-size: 28px;
    cursor: pointer;
    margin-right: 20px;
    color: #d3d4d7;
}
.closeBtn:hover {
    color: white;
}
