.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.table {
    width: 900px;
    box-sizing: border-box;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid darkgrey;
}
.table tr,
.table td,
.table th{
    border: 1px solid darkgrey;
}
.table td,
.table th {
    padding: 5px 10px;
    text-align: center;
}
.table tr td:nth-child(2) {
    width: 15%;
}
.table tr td:nth-child(3) {
    width: 35%;
}
.table tr td:last-child button{
    width: 60px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}
.table tr td:last-child button:first-child {
    background-color: dodgerblue;
}
.table tr td:last-child button:last-child {
    background-color: red;
}